/* Font */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@plugin "daisyui";


@theme {
    --font-sora: "Sora", sans-serif;
    --color-primary-color: #179800;
}